body {
    
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 233);
}

nav {
    position: fixed;
    background: rgb(20, 19, 19);
    padding: 0 20px 0 20;
    justify-content: space-between;
    align-items: center;
    max-height: 75px;
    width: 100%;
    margin-bottom: 50px;

}
img {
    max-width: 200px;
    max-height: 50px;
}

ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
li {
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;
}

nav,ul {
    display: flex;
    flex-direction: row;

}
nav ul li {
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}

li:hover, button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(80, 80, 80);
  
    border-radius: 5px;
    
}
.logo:hover {
    cursor: pointer;
    opacity: 0.7;
    
    
}
button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}
button:focus ~ ul {
    height: 260px;
    padding-bottom: 40px;
}

@media (max-width: 750px) {
    nav, ul {
        flex-direction: column;
        align-items: unset;
        max-height: 500px;
    }
    nav {
        padding: 0;
        align-items: center;
    }
    ul {
        text-align: center;
        margin: 0px;
        height: 0;
    }
    .logo {
        margin: 10px;
        
    }
    button {
        display: flex;
    }
    
}
.container {
    display: grid;
}
.pag1 {
    display: table-footer-group;
    background-color: rgb(250, 229, 191);
    height: max-content;
    margin-top: 70px;
    
}
.pag2 {
    display: table-footer-group;
    background-color: rgb(107, 107, 107);
    height: max-content;
}
.pag3 {
    display: table-footer-group;
    background-color: rgb(250, 229, 191);
    height: max-content;
}
.pag4 {
    display: table-footer-group;
    background-color: rgb(107, 107, 107);
    height: max-content;
}
.pag5 {
    display: table-footer-group;
    background-color: rgb(250, 229, 191);
    height: max-content;
}
.rodape {
    background-color: rgb(107, 107, 107);
    height: 100px
}

.pag1 p {
    padding: 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

p{
    padding: 12px;
    text-indent: 2em;
}
